body {
	background-color: #4D4D4D;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 13px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

h4 {
	display: block;
	padding-bottom: 5px;
	font-size: 18px;
	color: #8d8d8d;
	border-bottom: 1px solid #8d8d8d;
	margin-bottom: 20px;
	font-weight: normal;
	margin-top: 30px;
}

h5 {
	display: block;
	padding-bottom: 5px;
	font-size: 18px;
	color: #8d8d8d;
	font-weight: normal;
	margin-top: 30px;
}

p {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 12px;
}

.btn-primary{
	background-color: $light-color;
  border-color: $dark-color;
}

.btn-primary:hover {
	background-color: $dark-color;
	border-color: $dark-color;
}

.body-no-top-margin {
	margin-top: 0px;
}

.body-form-top-margin {
	margin-top: 20px;
}

blockquote h3 {
   color: #000;
}
