.carousel-buttons {
	margin-top: 55%;
}

.carousel-indicators {
	bottom: 100px;
}

.carousel-text {
	position: absolute;
	color: #fff;
	width: 52%;
	margin: 5% 0% 0% 20%;
	font-size: 32px;
	font-size: 3.0vw;
	text-shadow: 1px 1px #000;
	padding: 20px;
}

.carousel-text h1 {
	padding-top: 0px;
	margin-top: 0px;
	
}


.carousel-text-black {
	display: block;
	color: #000;
	text-shadow: none;
	/* background: rgba(12,89,139,0.5); */
	background: rgba(255,164,2,0.8);
	margin-left: auto;
	margin-right: auto;
	padding-left: 18%;
}


@media (max-width: 768px) {

	.carousel-text {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		padding-left: 15%;	
	}
	
}


