.content-section {
	background-color: #E6E6E6;
}

.content-section-title {
	padding-bottom: 30px;
}

.content-section-front-page {
    background-color: #FFF;
    padding: 40px;
}
.content-section-title-spacer-top {
	padding-top: 20px;
}

.content-section-spacer-base {
	padding-bottom: 50px;
}

.content-link-space {
	margin-right: 20px;
}

/* White Floating Box */

.content-floating-box-container {
	height: 30px;
}

.content-floating-box {
	background-color: #fff;
	padding: 2%;
	z-index: 999;
	position: relative;
	top: -300px;
}

.content-floating-box ul {
	list-style: none;
	margin: 0px;
	padding: 20px 0px 0px 0px;
}

.content-floating-box li {
	float: left;
	margin: 2.5%;
	text-align: center;
	width: 20%;
}

.content-floating-box a {
	color: #000;
}

.content-floating-box img {
	margin-bottom: 10px;
}

.content-floating-box-title h2 {
	text-align: right;
	margin-top: 0px;
}

@media (min-width: 1600px) {
	.content-floating-box-container {
	}
}

@media (max-width: 1200px) {

	.content-floating-box-container {
		height: 350px;
	}

	.content-floating-box {
		position: static;
		top: 0%;
		padding-bottom: 30px;
		margin-bottom: 30px;
	}
}

@media (max-width: 768px) {

	.content-floating-box-container {
		height: 570px;
	}

	.content-floating-box-title h2 {
		text-align: right;
	}

	.content-floating-box li {
		width: 40%;
	}

}



/* Page */

.content-page {
	background-color: #fff;
	padding: 2%;
}

.content-join {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #efefef;
	text-align: right;
	font-size: 18px;
}


.content-updates-box {
	background-color:  $light_color;
	padding: 10px 20px 20px 20px;
	color: #fff;
	border-radius: 10px;
}

.content-updates-box img {
	height: 50px;
	float: left;
	margin: 20px;
}

/* Company Profile Boxes */

.content-company-profile {
	padding: 5px 10px;
	background-color: #fff;
}

.content-company-profile-img {
	width: 100%;
	margin-top: 4px;

	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center center;
}

.content-company-team-img {

	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center center;
}

.content-funded-flag {
	margin-top: 10px;
	float: right;
	width: 25%;
	border: none;

}

.content-company-profile-financial-row {
	background-color: #F2F2F2;
	margin-left: -10px;
	margin-right: -10px;
	padding: 10px 0px;
	text-align: center;
	margin-top: 2%;
}

.content-company-profile-financial-row lead {
	font-weight: 700;
	margin-bottom: 5px;
	padding-bottom: 0px;
	font-size: 18px;
}

.content-company-profile-financial-row small {

}

.content-company-profile-links {
	text-align: right;
	margin: 10px 10px;
}

.content-company-profile-links a {
	color: $light_color;
	font-size: 16px;
	text-align: right;
	padding: 20px 0px;
}

/* Full Page */

.content-full-page {
	background-color: #fff;
	border-radius: 5px;
	padding-bottom: 20px;
   margin-bottom: 20px;
}

/* Sub Page */

.content-sub-page {
	background-color: #fff;
	border-radius: 5px;
	padding-bottom: 20px;
}

.content-sub-page-top-pad {
	padding-top: 20px;
}

@media (max-width: 768px) {

	.content-company-profile {
		margin-bottom: 40px;
	}

	.content-company-profile-img {
		margin-bottom: 20px;
	}
}

/* Scroll Pane */

.content-investor-panel {

}

.content-scroll-container {
	overflow: scroll;
	height: 200px;
	border: 1px solid #efefef;
	margin: 20px 0px;
	padding: 10px;
}

.content-scroll-container-long {
	overflow: scroll;
	height: 500px;
	border: 1px solid #efefef;
	margin: 20px 0px;
	padding: 10px;
}
