/* Newsletter */

.footer-newsletter {
	color: #fff;
	background-color: $light-color;
	text-align: center;
	border-top: 5px solid $dark-color;
	padding: 20px 0px 20px 0px;
}

.footer-newsletter p {
	font-size: 20px;
	bottom-margin: 0px;
}

/* Social Bar */

.footer-social-bar {
	background-color: $dark-color;
	text-align: center;
	padding: 20px 0px;
}

.footer-social-bar img {
	padding: 0px 10px;
}

/* Footer Menu */

.footer-menu {
	background-color: #4D4D4D;
	color: #CCCCCC;
	padding: 20px 0px;
}

.footer-menu ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.footer-menu li {
	font-size: 14px;
}

.footer-menu a {
	color: #CCCCCC;
}

.footer-copyright {
	font-size: 10px;
	color: #ccc;
}