.header-top-menu {
	background-color: #E6E6E6;
}

.header-top-menu ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.header-top-menu li {
	float: right;
	padding: 10px 10px;
	font-size: 16px;
}

.header-top-menu-active {
	background-color: #fff;
}


/* Logo Area */
.header-logo-bar {
	background-color: #fff;
	padding: 10px 0px;
}

.header-logo-bar img {
	width: 25%;
}

/* Main Menu */
.header-main-menu {
	background-color: $light_color;
}

.header-main-menu ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.header-main-menu li {
	float: left;
	padding: 10px 20px 10px 0px;
}

.header-right-menu li {
	float: right !important;
	padding: 10px 0px 10px 10px;
}

.header-main-menu li {

}

.header-main-menu a {
	color: #fff;
	font-size: 15px;
}

.header-main-menu-button {
	border: 1px solid #548AAE;
	border-radius: 4px;
	padding: 5px 10px;
	font-weight: normal;
}

.header-main-menu-button:hover {
	background-color: #548AAE;
	text-decoration: none;
}

.header-main-menu-button-green {
	border: 1px solid #92A46E;
	border-radius: 4px;
	padding: 5px 10px;
	font-weight: normal;
}

.header-main-menu-button-green:hover {
	background-color: #92A46E;
	text-decoration: none;
}

.header-main-menu-button-invert {
	border: 1px solid #fff;
	color: #fff !important;
	border-radius: 4px;
	padding: 5px 10px;
	font-weight: normal;
}

.header-main-menu-button-invert:hover {
	background-color: #fff;
	color: #0B598B !important;
	text-decoration: none;
}
