body {
  background-color: #4D4D4D;
  font-family: 'Lato', sans-serif;
  font-size: 13px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 18px; }

h4 {
  display: block;
  padding-bottom: 5px;
  font-size: 18px;
  color: #8d8d8d;
  border-bottom: 1px solid #8d8d8d;
  margin-bottom: 20px;
  font-weight: normal;
  margin-top: 30px; }

h5 {
  display: block;
  padding-bottom: 5px;
  font-size: 18px;
  color: #8d8d8d;
  font-weight: normal;
  margin-top: 30px; }

p {
  font-family: 'Lato', sans-serif;
  font-size: 14px; }

.body-no-top-margin {
  margin-top: 0px; }

.body-form-top-margin {
  margin-top: 20px; }

blockquote h3 {
  color: #000; }

.header-top-menu {
  background-color: #E6E6E6; }

.header-top-menu ul {
  list-style: none;
  padding: 0px;
  margin: 0px; }

.header-top-menu li {
  float: right;
  padding: 10px 10px;
  font-size: 16px; }

.header-top-menu-active {
  background-color: #fff; }

/* Logo Area */
.header-logo-bar {
  background-color: #fff;
  padding: 10px 0px; }

.header-logo-bar img {
  width: 25%;
}
/* Main Menu */
.header-main-menu {
  background-color: #1D3465; }

.header-main-menu ul {
  list-style: none;
  padding: 0px;
  margin: 0px; }

.header-main-menu li {
  float: left;
  padding: 10px 20px 10px 0px; }

.header-right-menu li {
  float: right !important;
  padding: 10px 0px 10px 10px; }

.header-main-menu a {
  color: #fff;
  font-size: 15px; }

.header-main-menu-button {
  border: 1px solid #548AAE;
  border-radius: 4px;
  padding: 5px 10px;
  font-weight: normal; }

.header-main-menu-button:hover {
  background-color: #548AAE;
  text-decoration: none; }

.header-main-menu-button-green {
  border: 1px solid #92A46E;
  border-radius: 4px;
  padding: 5px 10px;
  font-weight: normal; }

.header-main-menu-button-green:hover {
  background-color: #92A46E;
  text-decoration: none; }

.header-main-menu-button-invert {
  border: 1px solid #fff;
  color: #fff !important;
  border-radius: 4px;
  padding: 5px 10px;
  font-weight: normal; }

.header-main-menu-button-invert:hover {
  background-color: #fff;
  color: #0B598B !important;
  text-decoration: none; }

.btn {
  border-radius: 5px; }

.form-control {
  border-radius: 5px; }

.form-newsletter-spacing {
  padding-left: 10px; }
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 20-Mar-2015, 08:12:14
    Author     : michaelwoolf
*/
.admin-breakdown h2 {
  margin-top: 5px; }

.content-section {
  background-color: #E6E6E6; }

.content-section-title {
  padding-bottom: 30px; }

.content-section-title-spacer-top {
  padding-top: 20px; }

.content-section-spacer-base {
  padding-bottom: 50px; }

.content-link-space {
  margin-right: 20px; }

/* White Floating Box */
.content-floating-box-container {
  height: 30px; }

.content-floating-box {
  background-color: #fff;
  padding: 2%;
  z-index: 999;
  position: relative;
  top: -300px; }

.content-floating-box ul {
  list-style: none;
  margin: 0px;
  padding: 20px 0px 0px 0px; }

.content-floating-box li {
  float: left;
  margin: 2.5%;
  text-align: center;
  width: 20%; }

.content-floating-box a {
  color: #000; }

.content-floating-box img {
  margin-bottom: 10px; }

.content-floating-box-title h2 {
  text-align: right;
  margin-top: 0px; }

@media (max-width: 1200px) {
  .content-floating-box-container {
    height: 350px; }

  .content-floating-box {
    position: static;
    top: 0%;
    padding-bottom: 30px;
    margin-bottom: 30px; } }
@media (max-width: 768px) {
  .content-floating-box-container {
    height: 570px; }

  .content-floating-box-title h2 {
    text-align: right; }

  .content-floating-box li {
    width: 40%; }

  .header-logo-bar img {
  	width: 100%;
  }
  }
/* Page */
.content-page {
  background-color: #fff;
  padding: 2%; }

.content-join {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #efefef;
  text-align: right;
  font-size: 18px; }

.content-updates-box {
  background-color: #1D3465;
  padding: 10px 20px 20px 20px;
  color: #fff;
  border-radius: 10px; }

.content-updates-box img {
  height: 50px;
  float: left;
  margin: 20px; }

/* Company Profile Boxes */
.content-company-profile {
  padding: 5px 10px;
  background-color: #fff; }

.content-company-profile-img {
  width: 100%;
  margin-top: 4px;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center; }

.content-company-team-img {
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center; }

.content-funded-flag {
  margin-top: 10px;
  float: right;
  width: 25%;
  border: none; }

.content-company-profile-financial-row {
  background-color: #F2F2F2;
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px 0px;
  text-align: center;
  margin-top: 2%; }

.content-company-profile-financial-row lead {
  font-weight: 700;
  margin-bottom: 5px;
  padding-bottom: 0px;
  font-size: 18px; }

.content-company-profile-links {
  text-align: right;
  margin: 10px 10px; }

.content-company-profile-links a {
  color: #1D3465;
  font-size: 16px;
  text-align: right;
  padding: 20px 0px; }

/* Full Page */
.content-full-page {
  background-color: #fff;
  border-radius: 5px;
  padding-bottom: 20px;
  margin-bottom: 20px; }

/* Sub Page */
.content-sub-page {
  background-color: #fff;
  border-radius: 5px;
  padding-bottom: 20px; }

.content-sub-page-top-pad {
  padding-top: 20px; }

@media (max-width: 768px) {
  .content-company-profile {
    margin-bottom: 40px; }

  .content-company-profile-img {
    margin-bottom: 20px; } }
/* Scroll Pane */
.content-scroll-container {
  overflow: scroll;
  height: 200px;
  border: 1px solid #efefef;
  margin: 20px 0px;
  padding: 10px; }

.content-scroll-container-long {
  overflow: scroll;
  height: 500px;
  border: 1px solid #efefef;
  margin: 20px 0px;
  padding: 10px; }

.carousel-buttons {
  margin-top: 55%; }

.carousel-indicators {
  bottom: 100px; }

.carousel-text {
  position: absolute;
  color: #fff;
  width: 55%;
  margin: 5% 0% 0% 20%;
  font-size: 32px;
  font-size: 3.0vw;
  text-shadow: 1px 1px #000;
  padding: 20px;
  background-color: #ABBE49;
  margin-left: auto;
  margin-right: auto;
  padding-left: 18%;
  display: block;
  text-shadow: none; }

.carousel-text h1 {
  padding-top: 0px;
  margin-top: 0px; }

.carousel-text-black {
  /* background: rgba(12,89,139,0.5); */ }

@media (max-width: 768px) {
  .carousel-text {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 15%; } }
/* Newsletter */
.footer-newsletter {
  color: #fff;
  background-color: #1D3465;
  text-align: center;
  border-top: 5px solid #122D56;
  padding: 20px 0px 20px 0px; }

.footer-newsletter p {
  font-size: 20px;
  bottom-margin: 0px; }

/* Social Bar */
.footer-social-bar {
  background-color: #122D56;
  text-align: center;
  padding: 20px 0px; }

.footer-social-bar img {
  padding: 0px 10px; }

/* Footer Menu */
.footer-menu {
  background-color: #4D4D4D;
  color: #CCCCCC;
  padding: 20px 0px; }

.footer-menu ul {
  list-style: none;
  padding: 0px;
  margin: 0px; }

.footer-menu li {
  font-size: 14px; }

.footer-menu a {
  color: #CCCCCC; }

.footer-copyright {
  font-size: 10px;
  color: #ccc; }

/*# sourceMappingURL=main.css.map */
